version: '3.8'

services:
  db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: bookify_user
      POSTGRES_PASSWORD: Bookify2025SecureDatabase
      POSTGRES_DB: bookify_db 

    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data 
      - ./init:/docker-entrypoint-initdb.d

  backend:
    build: .
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - db

volumes:
  postgres_data:
